@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  /*@include mobile{
    flex-direction: column;
    align-items: center;
  }*/

a {
  display: inline-block;
  width: 120px;
  height: 35px;
  color: white;
  font-weight: 500;
  font-size: 130%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding-top: 1%;
}

.portfolio-button {
  margin-left: 1%;
  background-color: $mainColor;
  border: 1.5px solid $mainColor;
  
  &:hover {
    background-color: white;
    color: $mainColor;
    border: 1.5px solid $mainColor;
    transition: 0.5s;
  }
}

.cv-button {
  background-color: white;
  color: $mainColor;
  border: 1.5px solid $mainColor;

  &:hover {
    background-color: $mainColor;
    color: white;
    border: 1.5px solid $mainColor;
    transition: 0.5s;
  }
}

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

      img {
        height: 70%;
        width: 70%;

        /*@include mobile{
          height: 50%;
        }*/
      }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      /*@include mobile{
        padding-left: 0;
        align-items: center;
      }*/

    .icon-wrapper {
      display: flex;
      flex-direction: row;
      font-size: 50px;
      padding-bottom: 3%;
      margin: 1% 0% 1% 0;
    }

    .icon-link { 
      width: 60px;
    }

      h1 {
        font-size: 60px;
        margin: 10px 0;
        color: $mainColor;

        /*@include mobile{
          font-size: 40px;
        }*/
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        /*@include mobile{
          font-size: 20px;
        }*/

        span {
          font-size: inherit;
          color: rgb(8, 83, 168);
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
          }
        
      }
    }
  }
}
