.intro {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*@include mobile{
    flex-direction: column;
    align-items: center;
  }*/
}

.intro a {
  display: inline-block;
  width: 120px;
  height: 35px;
  color: white;
  font-weight: 500;
  font-size: 130%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1%;
}

.intro .portfolio-button {
  margin-left: 1%;
  background-color: #0853a8;
  border: 1.5px solid #0853a8;
}

.intro .portfolio-button:hover {
  background-color: white;
  color: #0853a8;
  border: 1.5px solid #0853a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro .cv-button {
  background-color: white;
  color: #0853a8;
  border: 1.5px solid #0853a8;
}

.intro .cv-button:hover {
  background-color: #0853a8;
  color: white;
  border: 1.5px solid #0853a8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro .left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .left img {
  height: 70%;
  width: 70%;
  /*@include mobile{
          height: 50%;
        }*/
}

.intro .right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  position: relative;
}

.intro .right .wrapper {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*@include mobile{
        padding-left: 0;
        align-items: center;
      }*/
}

.intro .right .wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 50px;
  padding-bottom: 3%;
  margin: 1% 0% 1% 0;
}

.intro .right .wrapper .icon-link {
  width: 60px;
}

.intro .right .wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
  color: #0853a8;
  /*@include mobile{
          font-size: 40px;
        }*/
}

.intro .right .wrapper h2 {
  font-size: 35px;
}

.intro .right .wrapper h3 {
  font-size: 30px;
  /*@include mobile{
          font-size: 20px;
        }*/
}

.intro .right .wrapper h3 span {
  font-size: inherit;
  color: #0853a8;
}

.intro .right .wrapper h3 .ityped-cursor {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=intro.css.map */